---
name: Changelog Checker

on:
  pull_request:

jobs:
  changelog-check:
    runs-on: ubuntu-latest
    steps:
      # necessary to find the action.yml file
      - uses: actions/checkout@v6
      - uses: ./
